version: '3.8'

services:
  web:
    build: ./app
    container_name: melanoma_app
    ports:
      - "8501:8501"
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/melanoma_db
    depends_on:
      - db
    volumes:
      - ./data:/data

  db:
    image: postgres:15
    container_name: melanoma_db
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=melanoma_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
