streamlit==1.32.0
# torch eliminado de aquí para instalar versión CPU en Dockerfile
# torchvision eliminado de aquí
# tensorflow (Ya incluido en la imagen base)
# keras (Ya incluido)
opencv-python-headless
Pillow
psycopg2-binary
numpy<2.0.0
matplotlib
scikit-image
reportlab
